.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #f0f4f8, #e0f7ff);
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #e0f7ff;
}

.home-icon {
    font-size: 2em;
    cursor: pointer;
}

.profile-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile-info h2 {
    margin-bottom: 10px;
}

.profile-info input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
